footer {
    background: url(../img/bg-footer.jpg) no-repeat center center;
    text-align: left;
    padding: 65px 32px;
    color: $white;

    @media screen and (max-width: 680px) {
        background: none;
    }
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;

    @media screen and (max-width: 680) {
        grid-template-columns: 1fr;
    }

    
}