footer {
    background: url(../img/bg-footer.jpg) no-repeat center center;
    text-align: left;
    padding: 65px 32px;
    color: $white;

    @media screen and (max-width: 680px) {
        background: none;
    }
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;

    @media screen and (max-width: 680) {
        grid-template-columns: 1fr;
    }

    .left-part {
        padding-right: 30px;
        line-height: 30px;

        @media screen and (max-width: 680px) {
            display: none;
        }
       h2 {
        font-family: $font1;
        font-style: 2.5rem;
        font-weight: 100;
        color: $color1;
        margin-bottom: 15px;
       } 
       p {
        font-style: 0.9rem;
        color: $grey;
       }
    }

    

}