header {
    background: url(../img/bg-slider-06.jpg) center/cover no-repeat;
    padding: 0 50px;
    color: $white;

    nav {
        height: 12vh;
        display: grid;
        grid-template-columns: 10% 82% 8%;
        align-items: center;
        max-width: 1100px;
        margin: 0 auto;

        @media screen and (max-width: 680px) {
            grid-template-columns: 50% 10% 40%;
           
        }

        .logo {
            font-family: $font1;
            font-weight: 100;
            font-size: 2rem;
            text-align: left;
        }

        ul {
            @include alignChildren(space-around);
            text-transform: uppercase;
            font-size: 0.7rem;
            padding: 0 30px;

            @media screen and (max-width: 680px) {
                visibility: hidden;
            }

            li {
                cursor: pointer;
            }
        }

        .nav-icons {
            transition: 0.2s;

            i {
                
            }
        }
    }
}